
.new-breed {
    width: 60vw;
    height: 3rem;
    border-radius: 3px;
    border: none;
    font-size: 2rem;
    text-align: center;
}

.file-input {
    height: 3rem;
    font-size: 2rem;
}

.success {
    color: $color-emerald;
    font-size: 3rem;
    display: inline-block;
    margin-left: 2rem;
}