.row {
    margin: 2rem auto;
    text-align: center;
}

.valid {
    border: 1px solid $color-emerald-dark !important;
}

.invalid {
    border: 1px solid $color-red !important;
}

.disabled {
    background-color: $color-gray !important;
    cursor: not-allowed !important;
}